<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>110146739695-25uru6vplvhfsm7ir99vmm7lrhmuo308.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110146739695-25uru6vplvhfsm7ir99vmm7lrhmuo308</string>
	<key>API_KEY</key>
	<string>AIzaSyBZTBaEE93p1vcCZrnmNi0j0H9UnoZOJDw</string>
	<key>GCM_SENDER_ID</key>
	<string>110146739695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DariusTurner.OrlandoSpas</string>
	<key>PROJECT_ID</key>
	<string>orlando-spas</string>
	<key>STORAGE_BUCKET</key>
	<string>orlando-spas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:110146739695:ios:9a26deaa528e4a7a</string>
	<key>DATABASE_URL</key>
	<string>https://orlando-spas.firebaseio.com</string>
</dict>
</plist>